<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imp AI - Login</title>
    <link rel="icon" href="/static/assets/impai1.png" type="image/png">
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    <img src="/static/assets/impai.png" alt="Imputation AI Logo" class="logo">
    <div class="container">
        <h1>Sign in</h1>

        <form id="signin-form" action="./login-otp.html" >
            <input
                type="text"
                id="identifier"
                name="identifier"
                placeholder="Email"
                class="input-field"
                required
            >

            <button href ="login-otp.html" type="submit" class="send-otp-btn">
                Send OTP
            </button>
        </form>
        <!-- <form id="signin-form" action="./login-otp.html">
            <input type="text" id="identifier" name="identifier" placeholder="Email or Phone">
            <button type="submit">Send OTP</button>
        </form> -->
        <div class="divider">
            <span>OR</span>
        </div>

        <button class="google-btn">
            <img src="/static/assets/googleicon.png" alt="Google Icon" class="google-icon">

            Continue with Google
        </button>
    </div>
    <script src="/static/js/login.js"></script>
</body>
</html> 