<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imp AI - OTP Verification</title>
    <link rel="icon" href="/static/assets/impai1.png" type="image/png">
    <link rel="stylesheet" href="/static/css/login-otp.css">
</head>
<body>
    <div class="logo-container">
        <img src="/static/assets/impai.png" alt="Imputation AI Logo" class="logo">
    </div>
    <div class="container">
        <h1>Enter the OTP</h1>
        <form id="otpForm" data-identifier="{{ identifier }}">
            <div class="otp-container">
                <input type="text" class="otp-input" maxlength="1" required>
                <input type="text" class="otp-input" maxlength="1" required>
                <input type="text" class="otp-input" maxlength="1" required>
                <input type="text" class="otp-input" maxlength="1" required>
                <input type="text" class="otp-input" maxlength="1" required>
                <input type="text" class="otp-input" maxlength="1" required>
            </div>
            <p class="resend-text">
                If you didn't receive a code. 
                <a href="#" class="resend-link">Resend</a>
                <span id="resend-timer" style="display: none; color: gray;">( <span id="countdown">30</span> )</span>
            </p>
            <button type="submit" class="verify-btn">Verify</button>
        </form>
    </div>
    <script src="/static/js/login-otp.js"></script>
</body>
</html> 